<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ListenerMSMQName" value=".\private$\WcfServerPush/ListenerService"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <!-- Client Service -->
      <service name="Listener.ListenerService" behaviorConfiguration="WcfServerPushClient.ListenerServiceBehavior">
        <endpoint address="net.msmq://localhost/private/WcfServerPush/ListenerService"
                  binding="netMsmqBinding" bindingConfiguration="srmpBinding" contract="Common.IListenerService">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>

        <!-- Client Behavior -->
        <behavior name="WcfServerPushClient.ListenerServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>

    <bindings>

      <netMsmqBinding>
        <binding name="srmpBinding" queueTransferProtocol="Srmp">
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netMsmqBinding>

    </bindings>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
