<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MediatorServiceMSMQName" value=".\private$\WcfServerPush/MediatorService"/>
    <add key="GroupName" value="MyGroup"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <!-- Server Service -->
      <service name="Bridge.MediatorService" behaviorConfiguration="Bridge.MediatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/WcfServerPush/MediatorServiceHttp/"/>
          </baseAddresses>
        </host>

        <endpoint address="net.msmq://localhost/private/WcfServerPush/MediatorService" binding="netMsmqBinding" 
                  bindingConfiguration="srmpBinding" contract="Common.IMediatorService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

    </services>

    <!-- Client Service Endpoint -->
    <client>
      <endpoint name="ListenerServiceEndPoint" address="net.msmq://localhost/private/WcfServerPush/ListenerService" 
                binding="netMsmqBinding" bindingConfiguration="netMsmqBindingConfig" contract="Common.IListenerService"/>
    </client>

    <behaviors>
      <serviceBehaviors>

        <!-- Server Behavior -->
        <behavior name="Bridge.MediatorServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>

      <netMsmqBinding>
        <binding name="netMsmqBindingConfig">
          <security mode="None"/>
        </binding>

        <binding name="srmpBinding" queueTransferProtocol="Srmp">
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
