<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <!-- Client Service Endpoint -->
    <client>
      <endpoint name="MediatorServiceEndPoint" address="net.msmq://localhost/private/WcfServerPush/MediatorService" 
                binding="netMsmqBinding" bindingConfiguration="netMsmqBindingConfig" contract="Common.IMediatorService"/>
    </client>

    <bindings>
      <netMsmqBinding>
        <binding name="netMsmqBindingConfig">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
